@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>This is my title</title>
    @Styles.Render("~/bundles/Scripts/base")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/Styles/base")
</body>
</html>
