body, html {
    background-color: #f9f9f9;
    min-width: 1100px;
}

.search {
    padding: 10px 0;
}

.main-area {
    min-height: 500px;
}

.regristration-info,
.contact-info,
.contact-info img {
    margin-bottom: 15px;
}

    .contact-info span,
    .contact-info a {
        display: block;
    }

.brokerage-logo {
    margin-right: 10px;
}

#basic button,
#page-engage button {
    margin-top: 10px;
}
