<div class="row">
    <div class="col-xs-8">
        <h2 data-bind="text: name"></h2>
    </div>

    <div class="col-xs-4">
        @Html.Partial("Search")
    </div>
</div>

<div class="row">
    <div class="col-xs-2" data-bind="with: registrationInfo">
        @Html.Partial("RegistrationInfo")
    </div>

    <div class="col-xs-10">
        <div class="panel panel-default main-area">
            <div class="panel-body">
                @Html.Partial("Tabs")
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script>
    $(function () {
        $.get('/api/data', function (data) {
            var model = new app.ViewModel(data);
            ko.applyBindings(model);
            $(document).attr('title', 'CS Wireframe - ' + data.registrationInfo.name);
        });
    });
</script>
}