<div class="registration-info">
    <div class="form-group">
        <p>
            <img src="http://placehold.it/200x200" class="img-thumbnail">
        </p>
        <p>
            123456<br />
            (123) 456-7890<br />
            <a href="mailto:bdobbs@gmail.com">bdobbs@gmail.com</a><br />
            <a href="http://google.com" target="_blank">Facebook Profile</a>
        </p>
    </div>

    <div class="form-group">
        <strong>MHS Date:</strong><br />
        @DateTime.Now.ToShortDateString()
    </div>

    <div class="form-group">
        <strong>Brokerage:</strong><br />
        Bob's Realestate
    </div>

    <div class="form-group">
        <strong>Broker Email:</strong><br />
        bdobbs@gmail.com
    </div>

    <div class="form-group">
        <strong>Association:</strong><br />
        Horry County Association of Realtors
    </div>
</div>
<button type="submit" class="btn btn-default pull-right">Edit</button>