<ul class="nav nav-tabs">
    <li class="active">
        <a href="#basic" data-toggle="tab">Basic</a>
    </li>
    <li>
        <a href="#idx" data-toggle="tab">IDX</a>
    </li>
    <li>
        <a href="#page-engage" data-toggle="tab">PE</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="basic" data-bind="with: basicInfo">
        @Html.Partial("Basic")
    </div>

    <div class="tab-pane" id="idx">
        @Html.Partial("IDX")
    </div>

    <div class="tab-pane" id="page-engage">
        @Html.Partial("PageEngage")
    </div>
</div>